<h2>Word: <%= @word.word_name %></h2>
<img src="<%= @word.image %>" alt="">

<h3>Word Definition:</h3>

<% if @word.definitions %>
<% @word.definitions.each do |definition| %>
<h3><a href="/words/<%= @word.id %>/definitions/<%= definition.id %>"><%= definition.definition_text %></a></h3>
<% end %>
<% else %>
<p>There are no definitions listed for this word yet.</p>
<% end %>

<br>
<h4>Add a definition!</h4>

<form action="/words/<%= @word.id %>/definitions" method="post">
  <div class="form-group">
    <input id="definition_text" name="definition_text" class="form-control" type="text" placeholder="Definition">
  </div>
  <button type="submit" class="btn btn-primary">Add Definition</button>
</form>
<br>

<form action="/words/<%= @word.id %>/edit" method="get">
  <button type="submit" name="edit" class="btn btn-warning">Edit Word</button>
</form>
<br>
<form action="/words" method="get">
  <button type="submit" name="new" class="btn btn-success">Return to Word List</button>
</form>
